# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/
env/

# =========================
# Model Weights (IMPORTANT)
# =========================
*.pt
*.pth

# =========================
# OS / Editor junk
# =========================
.DS_Store
.vscode/
.idea/

# =========================
# Logs
# =========================
*.log

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/